html, body 
{
      padding: 0;
      margin: 0;
      overflow: hidden;
}


#colorChooser {
	width: 200px;
	height: 200px;
	background-color: gray;
	border: 3px solid white;
	position: absolute;
	visibility: hidden;
	z-index: 10;
}

#colorChooser p {
	text-align: center
}

#firstColor, #secondColor {
	width: 60px;
	height: 60px;
	float: left;
	margin: 20px;
	opacity: 0.75;
}

#firstColor:hover, #secondColor:hover {
	opacity: 1;
	cursor: pointer;
	
}
